################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OasysGH/.vs/OasysGH
/OasysGH/obj/Debug
/OasysGH/packages
/.vs/OasysGH/FileContentIndex
/.vs/OasysGH/v17
/.vs
