.vs
/GH_UnitNumber/bin
/GH_UnitNumber/obj
/OasysGH/bin
/OasysGH/obj
/OasysGHTests/bin
/OasysGHTests/obj
/packages
*.bak
/GH_UnitNumberTests/obj
/GH_UnitNumberTests/bin
/GH_UnitNumber/GH_UnitNumber.csproj.user
*.user
/IntegrationTests/bin
/IntegrationTests/obj
/OasysGHTestComponents/bin
/OasysGHTestComponents/obj
